# Entornos virtuales
.venv/
env/
venv/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*.pyo

# Archivos de configuración sensibles
config/config.yaml

# Archivos de Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Archivos de logs
*.log

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de VS Code
.vscode/

# Archivos de bases de datos locales
*.sqlite3
*.db

# Otros archivos temporales
*.tmp
*.bak
*.swp